LOGO_ACT BITMAP "Logo\\ACT.bmp"
LOGO_ACTEL BITMAP "Logo\\ACTEL.bmp"
LOGO_ACTRANS BITMAP "Logo\\ACTRANS.bmp"
LOGO_ADI BITMAP "Logo\\ADI.bmp"
LOGO_ADVANCE_GROUP BITMAP "Logo\\ADVANCE_GROUP.bmp"
LOGO_AEROFLEX BITMAP "Logo\\AEROFLEX.bmp"
LOGO_ALI_ACER BITMAP "Logo\\ALI(ACER).bmp"
LOGO_ALLIANCE BITMAP "Logo\\ALLIANCE.bmp"
LOGO_ALTERA BITMAP "Logo\\ALTERA.bmp"
LOGO_AMD BITMAP "Logo\\AMD.bmp"
LOGO_AMI BITMAP "Logo\\AMI_SEMICONDUCTOR.bmp"
LOGO_AMIC BITMAP "Logo\\AMIC.bmp"
LOGO_ANACHIP BITMAP "Logo\\ANACHIP.bmp"
LOGO_ANALOG BITMAP "Logo\\ANALOG.bmp"
LOGO_APLUS_FLASH BITMAP "Logo\\APLUS_FLASH.bmp"
LOGO_ARTSCHIP BITMAP "Logo\\ARTSCHIP.bmp"
LOGO_ASAHI_KASEI_AKM BITMAP "Logo\\ASAHI_KASEI(AKM).bmp"
LOGO_ASAHI_KASEI BITMAP "Logo\\ASAHI-KASEI.bmp"
LOGO_ASD BITMAP "Logo\\ASD.bmp"
LOGO_ASI BITMAP "Logo\\ASI.bmp"
LOGO_ASP BITMAP "Logo\\ASP.bmp"
LOGO_AT_T BITMAP "Logo\\AT&T.bmp"
LOGO_ATC BITMAP "Logo\\ATC.bmp"
LOGO_ATMEL BITMAP "Logo\\ATMEL.bmp"
LOGO_ATMEL_W_M BITMAP "Logo\\ATMEL_W&M.bmp"
LOGO_AUSTIN BITMAP "Logo\\AUSTIN.bmp"
LOGO_AYDEEKAY BITMAP "Logo\\AYDEEKAY.bmp"
LOGO_BELLING_SYSTRON BITMAP "Logo\\BELLING-SYSTRON.bmp"
LOGO_BENCHMARQ BITMAP "Logo\\BENCHMARQ.bmp"
LOGO_BRIGHT BITMAP "Logo\\BRIGHT.bmp"
LOGO_CATALYST BITMAP "Logo\\CATALYST.bmp"
LOGO_CERAMATE BITMAP "Logo\\CERAMATE.bmp"
LOGO_CHINA_CORE BITMAP "Logo\\CHINA_CORE.bmp"
LOGO_CHIPCON BITMAP "Logo\\CHIPCON.bmp"
LOGO_CHIPLUS BITMAP "Logo\\CHIPLUS.bmp"
LOGO_CHIPSWINNER BITMAP "Logo\\CHIPSWINNER.bmp"
LOGO_CIRRUS BITMAP "Logo\\CIRRUS.bmp"
LOGO_CYGNAL BITMAP "Logo\\CYGNAL.bmp"
LOGO_CYPRESS BITMAP "Logo\\CYPRESS.bmp"
LOGO_DALLAS BITMAP "Logo\\DALLAS.bmp"
LOGO_DENSE_PAC BITMAP "Logo\\DENSE-PAC.bmp"
LOGO_DEUTRON BITMAP "Logo\\DEUTRON.bmp"
LOGO_DIGI BITMAP "Logo\\DIGI.bmp"
LOGO_EFST BITMAP "Logo\\EFST.bmp"
LOGO_ELECTRONIC_ARRAYS BITMAP "Logo\\ELECTRONIC_ARRAYS.bmp"
LOGO_EM BITMAP "Logo\\EM.bmp"
LOGO_EMBER BITMAP "Logo\\EMBER.bmp"
LOGO_EMC BITMAP "Logo\\EMC.bmp"
LOGO_EMTC BITMAP "Logo\\EMTC.bmp"
LOGO_ENERGY_MICRO BITMAP "Logo\\ENERGY_MICRO.bmp"
LOGO_EON BITMAP "Logo\\EON.bmp"
LOGO_EPSON BITMAP "Logo\\EPSON.bmp"
LOGO_ESMT BITMAP "Logo\\ESMT.bmp"
LOGO_EXCELSEMI BITMAP "Logo\\EXCELSEMI.bmp"
LOGO_EXEL BITMAP "Logo\\EXEL.bmp"
LOGO_FAIRCHILD BITMAP "Logo\\FAIRCHILD.bmp"
LOGO_FARADAY BITMAP "Logo\\FARADAY.bmp"
LOGO_FORCE_TECHNOLOGIES BITMAP "Logo\\FORCE_TECHNOLOGIES.bmp"
LOGO_FORWARD BITMAP "Logo\\FORWARD.bmp"
LOGO_FREESCALE BITMAP "Logo\\FREESCALE.bmp"
LOGO_FUJITSU BITMAP "Logo\\FUJITSU.bmp"
LOGO_GENCORE BITMAP "Logo\\GENCORE.bmp"
LOGO_GENERAL_GI BITMAP "Logo\\GENERAL(GI).bmp"
LOGO_GENERIC BITMAP "Logo\\GENERIC.bmp"
LOGO_GOAL BITMAP "Logo\\GOAL.bmp"
LOGO_GOULD BITMAP "Logo\\GOULD.bmp"
LOGO_GREENWICH BITMAP "Logo\\GREENWICH.bmp"
LOGO_HAIER BITMAP "Logo\\HAIER.bmp"
LOGO_HARRIS BITMAP "Logo\\HARRIS.bmp"
LOGO_HITACHI BITMAP "Logo\\HITACHI.bmp"
LOGO_HILSCHER BITMAP "Logo\\HILSCHER.bmp"
LOGO_HOLTEK BITMAP "Logo\\HOLTEK.bmp"
LOGO_HONGKONG BITMAP "Logo\\HONGKONG.bmp"
LOGO_HYNIX_HYUNDAI BITMAP "Logo\\HYNIX(HYUNDAI).bmp"
LOGO_HYNIX BITMAP "Logo\\HYNIX.bmp"
LOGO_HYNIX_CUSTOMER BITMAP "Logo\\HYNIX-CUSTOMER.bmp"
LOGO_HYUNDAI BITMAP "Logo\\HYUNDAI.bmp"
LOGO_ICE BITMAP "Logo\\ICE.bmp"
LOGO_ICMIC BITMAP "Logo\\ICMIC.bmp"
LOGO_ICSI BITMAP "Logo\\ICSI.bmp"
LOGO_ICT BITMAP "Logo\\ICT.bmp"
LOGO_IMT BITMAP "Logo\\IMT.bmp"
LOGO_INFINEON BITMAP "Logo\\INFINEON.bmp"
LOGO_INTEL BITMAP "Logo\\INTEL.bmp"
LOGO_INTEL_CUSTOMER BITMAP "Logo\\INTEL-CUSTOMER.bmp"
LOGO_INTELSIL BITMAP "Logo\\INTELSIL.bmp"
LOGO_ISSI BITMAP "Logo\\ISSI.bmp"
LOGO_ITHINKO BITMAP "Logo\\ITHINKO.bmp"
LOGO_ITRON BITMAP "Logo\\ITRON.bmp"
LOGO_LATTICE BITMAP "Logo\\LATTICE.bmp"
LOGO_LG_SEMICON BITMAP "Logo\\LG_SEMICON.bmp"
LOGO_LINKSMART BITMAP "Logo\\LINKSMART.bmp"
LOGO_LUMINARY BITMAP "Logo\\LUMINARY.bmp"
LOGO_MACRONIX BITMAP "Logo\\MACRONIX.bmp"
LOGO_MAGNACHIP BITMAP "Logo\\MAGNACHIP.bmp"
LOGO_MAXIM BITMAP "Logo\\MAXIM.bmp"
LOGO_MAXWELL BITMAP "Logo\\MAXWELL.bmp"
LOGO_MEGAWIN BITMAP "Logo\\MEGAWIN.bmp"
LOGO_MEMOCOM BITMAP "Logo\\MEMOCOM.bmp"
LOGO_MICON BITMAP "Logo\\MICON.bmp"
LOGO_MICROCHIP BITMAP "Logo\\MICROCHIP.bmp"
LOGO_MICRON BITMAP "Logo\\MICRON.bmp"
LOGO_MICRONAS BITMAP "Logo\\MICRONAS.bmp"
LOGO_MICRON_CUSTOMER BITMAP "Logo\\MICRON-CUSTOMER.bmp"
LOGO_MICROSEMI BITMAP "Logo\\MICROSEMI.bmp"
LOGO_MITSUBISHI BITMAP "Logo\\MITSUBISHI.bmp"
LOGO_MMI BITMAP "Logo\\MMI.bmp"
LOGO_MOSEL_VITELIC BITMAP "Logo\\MOSEL-VITELIC.bmp"
LOGO_MOSTEK BITMAP "Logo\\MOSTEK.bmp"
LOGO_MOTOROLA BITMAP "Logo\\MOTOROLA.bmp"
LOGO_MYSON BITMAP "Logo\\MYSON.bmp"
LOGO_NANOAMP BITMAP "Logo\\NANOAMP.bmp"
LOGO_NEC BITMAP "Logo\\NEC.bmp"
LOGO_NEXFLASH BITMAP "Logo\\NEXFLASH.bmp"
LOGO_NJRC BITMAP "Logo\\NJRC.bmp"
LOGO_NORDIC BITMAP "Logo\\NORDIC.bmp"
LOGO_NOVATEK BITMAP "Logo\\NOVATEK.bmp"
LOGO_NSC BITMAP "Logo\\NSC.bmp"
LOGO_NTE BITMAP "Logo\\NTE.bmp"
LOGO_NUVOTON BITMAP "Logo\\NUVOTON.bmp"
LOGO_NXP BITMAP "Logo\\NXP.bmp"
LOGO_OKI BITMAP "Logo\\OKI.bmp"
LOGO_ONSEMI BITMAP "Logo\\ONSEMI.bmp"
LOGO_PARALLAX BITMAP "Logo\\PARALLAX.bmp"
LOGO_PFLASH_MSTAR BITMAP "Logo\\PFLASH(MSTAR).bmp"
LOGO_PFLASH_PMC BITMAP "Logo\\PFLASH(PMC).bmp"
LOGO_PHILIPS BITMAP "Logo\\PHILIPS.bmp"
LOGO_PJ BITMAP "Logo\\PJ.bmp"
LOGO_PMC BITMAP "Logo\\PMC.bmp"
LOGO_POLYSTAK BITMAP "Logo\\POLYSTAK.bmp"
LOGO_POWER_RAIL BITMAP "Logo\\POWER-RAIL.bmp"
LOGO_PSS BITMAP "Logo\\PSS.bmp"
LOGO_PTC BITMAP "Logo\\PTC.bmp"
LOGO_QUICKPULSE BITMAP "Logo\\QUICKPULSE.bmp"
LOGO_QUINTIC BITMAP "Logo\\QUINTIC.bmp"
LOGO_RAMTRON BITMAP "Logo\\RAMTRON.bmp"
LOGO_RATO BITMAP "Logo\\RATO.bmp"
LOGO_RENESAS BITMAP "Logo\\RENESAS.bmp"
LOGO_RICOH BITMAP "Logo\\RICOH.bmp"
LOGO_ROCKWELL BITMAP "Logo\\ROCKWELL.bmp"
LOGO_ROHM BITMAP "Logo\\ROHM.bmp"
LOGO_SAIFUN BITMAP "Logo\\SAIFUN.bmp"
LOGO_SAMSUNG BITMAP "Logo\\SAMSUNG.bmp"
LOGO_SAMSUNG_CUSTOMER BITMAP "Logo\\SAMSUNG-CUSTOMER.bmp"
LOGO_SANYO BITMAP "Logo\\SANYO.bmp"
LOGO_SCENIX BITMAP "Logo\\SCENIX.bmp"
LOGO_SEEQ BITMAP "Logo\\SEEQ.bmp"
LOGO_SEIKO BITMAP "Logo\\SEIKO.bmp"
LOGO_SGS_THOMSON BITMAP "Logo\\SGS-THOMSON.bmp"
LOGO_SHARP BITMAP "Logo\\SHARP.bmp"
LOGO_SHARP_CUSTOMER BITMAP "Logo\\SHARP-CUSTOMER.bmp"
LOGO_SIEMENS BITMAP "Logo\\SIEMENS.bmp"
LOGO_SIGNETICS BITMAP "Logo\\SIGNETICS.bmp"
LOGO_SILICON_LABORATORIES BITMAP "Logo\\SILICON_LABORATORIES.bmp"
LOGO_SILICON7 BITMAP "Logo\\SILICON7.bmp"
LOGO_SIMTEK BITMAP "Logo\\SIMTEK.bmp"
LOGO_SIRF BITMAP "Logo\\SIRF.bmp"
LOGO_SMOS BITMAP "Logo\\SMOS.bmp"
LOGO_SOCLE BITMAP "Logo\\SOCLE.bmp"
LOGO_SONIX BITMAP "Logo\\SONIX.bmp"
LOGO_SONY BITMAP "Logo\\SONY.bmp"
LOGO_SPACE_ELECTRONICS_SEI BITMAP "Logo\\SPACE_ELECTRONICS[SEI].bmp"
LOGO_SPANSION BITMAP "Logo\\SPANSION.bmp"
LOGO_SPANSION_CUSTOMER BITMAP "Logo\\SPANSION-CUSTOMER.bmp"
LOGO_SSSC BITMAP "Logo\\SSSC.bmp"
LOGO_SST BITMAP "Logo\\SST.bmp"
LOGO_ST BITMAP "Logo\\ST.bmp"
LOGO_STC BITMAP "Logo\\STC.bmp"
LOGO_ST_CUSTOMER BITMAP "Logo\\ST-CUSTOMER.bmp"
LOGO_SUMMIT BITMAP "Logo\\SUMMIT.bmp"
LOGO_SUNPLUS BITMAP "Logo\\SUNPLUS.bmp"
LOGO_SYNCMOS BITMAP "Logo\\SYNCMOS.bmp"
LOGO_SYNERTEK BITMAP "Logo\\SYNERTEK.bmp"
LOGO_SYNTEK BITMAP "Logo\\SYNTEK.bmp"
LOGO_TECHCODE BITMAP "Logo\\TECHCODE.bmp"
LOGO_TEMIC BITMAP "Logo\\TEMIC.bmp"
LOGO_TI BITMAP "Logo\\TI.bmp"
LOGO_TMC BITMAP "Logo\\TMC.bmp"
LOGO_TOPRO BITMAP "Logo\\TOPRO.bmp"
LOGO_TOSHIBA BITMAP "Logo\\TOSHIBA.bmp"
LOGO_TOSHIBA_CUSTOMER BITMAP "Logo\\TOSHIBA-CUSTOMER.bmp"
LOGO_TURBO_IC BITMAP "Logo\\TURBO_IC.bmp"
LOGO_UBICOM BITMAP "Logo\\UBICOM.bmp"
LOGO_UMC BITMAP "Logo\\UMC.bmp"
LOGO_UTRON BITMAP "Logo\\UTRON.bmp"
LOGO_VANTIS BITMAP "Logo\\VANTIS.bmp"
LOGO_VERSACHIPS BITMAP "Logo\\VERSACHIPS.bmp"
LOGO_VLSI BITMAP "Logo\\VLSI.bmp"
LOGO_WELTREND BITMAP "Logo\\WELTREND.bmp"
LOGO_WHITE_ELECTRONIC_DESIGNS BITMAP "Logo\\WHITE_ELECTRONIC_DESIGNS.bmp"
LOGO_WINBOND BITMAP "Logo\\WINBOND.bmp"
LOGO_WISTRON BITMAP "Logo\\WISTRON.bmp"
LOGO_WSI BITMAP "Logo\\WSI.bmp"
LOGO_XICOR BITMAP "Logo\\XICOR.bmp"
LOGO_XILINX BITMAP "Logo\\XILINX.bmp"
LOGO_XILINX_CUSTOMER BITMAP "Logo\\XILINX-CUSTOMER.bmp"
LOGO_YSS BITMAP "Logo\\YSS.bmp"
LOGO_ZILOG BITMAP "Logo\\ZILOG.bmp"
LOGO_ZMD BITMAP "Logo\\ZMD.bmp"
 